.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
.CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
.CodeMirror-activeline-background {
  background: #e8f2ff !important;
}

.grammar-checker-problem-gutter {
  width: 10px;
  position: relative;
}

.grammar-checker-problem {
  /*color: red;*/
  background: #FFE6FF;
}


.grammar-checker-problem span {
  display: block; 
  position: absolute; 
  margin-top: 10px; 
  margin-left: -10px; 
  width: 175px; padding: 5px; 
  z-index: 100; 
  color: #000000; 
  background: #FFFFAA; 
  font: 12px "Arial", sans-serif;
  text-align: left; 
  text-decoration: none;
}


