.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
.CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
.CodeMirror-activeline-background {
  background: #e8f2ff !important;
}

.grammar-checker-problem-gutter {
  width: 10px;
}

.grammar-checker-problem {
  position: relative;
  border-bottom: 2px dotted red;
}

.latex-img {
  max-width: 100%;
  max-height: 25px;
}

body {
  margin: 0;
  font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
