.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
.CodeMirror-focused .cm-matchhighlight {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
  background-position: bottom;
  background-repeat: repeat-x;
}
.CodeMirror-activeline-background {
  background: #e8f2ff !important;
}

.grammar-checker-problem-gutter {
  width: 10px;
}

.grammar-checker-problem {
  /*color: red;*/
  background: #FFE6FF;
  position: relative;
}

.grammar-checker-problem span {
  /*
  position: absolute;
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 2px 0px;  
  */
  position: absolute;
  margin-top: 10px;
  margin-left: -50px; 
  width: 175px; padding: 2px; 
  z-index: 100; 
  color: #000000; 
  background: #FFFFAA; 
  font: 12px "Arial", sans-serif;
  text-align: left; 
  text-decoration: none;
}


